*{
	margin: auto;
	font-family: sans-serif, tahoma, arial;
	  padding: 0;
}

#container{
}


section{
	padding: 2px 0;
	padding-top:10px;
}

section .content{
	width: 1200px;
}

section a{
	text-decoration: none;
	color: #ff5483;
}

section a:hover{
	text-decoration: underline;
}

#section1{
	padding-top:0px;
	min-height:100px;
	width: auto;
	background-repeat: no-repeat;
	background-position: fixed;
}


#section2{
	min-height:auto;
	background-color: white;
	float: center;
	width: auto;
	background-position: center;

	}

#section3{
	min-height:150px;
	padding-top: 50px;
	padding-bottom: 45px;
	width: 100%;
	background-position: fixed;
}
	
#section4{
	min-height:10px;
	text-align:center;
	width: 100%;
	background-position: fixed;
}


.left{
	float:left;
	margin-top:10px;
	width:130px;
}

.right{
	float:right;
	border-radius:5px;
	padding:5px 10px;
	padding-top:40px;
}

.btn{
	text-decoration: none !important;
	border-radius: 5px;
	padding: 7px 15px;
}

.btn-white{
	text-decoration:none;
	color:#FFF;
	}

.btn-white:hover{
	text-decoration:none;
	background-color:#FFF;
	color:#000;
}

.navy{
 background-color: blue;
 background-color: no-repeat;
 color: white;
}

.white{
background-color: white;

}

.black{
background-color: black;
color:#FFF;
}

.white, .gray, #menu{
	color: #3d3d3d;
}

h2, p{
	color: white;
	padding-bottom: 20px;
}

#contact input[type="text"],
#contact input[type="password"],
#contact input[type="date"]
{
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  width: 95%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact-back{
	width: 20%;
}

#contact select,
#contact button{
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
} 

#contact {
  background: #F9F9F9;
  width : 40%;
  background-position: center;
  padding: 25px;
  margin: 100px 25%;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300px;
  font-family: BatmanForeverAlternate;
  margin-bottom: 10px;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-family: Times New Roman;
  font-weight: auto;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: auto;
  padding: 0;
  width: 100%;
}

#contact input[type="text"]:hover,
#contact input[type="password"]:hover,
#contact select,
#contact input[type="date"]
{
  border: 1px solid #aaa;
}


#contact button
 {
  border: none;
  background: #883995;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  font-family: Times New Roman;
}

#contact button:hover {
  background: #480048;
  }

  .dropbtn {
  background-color: #be94c1;
  color: white;
  min-width: 205px;
  padding: 14px;
  font-size: 16px;
  text-align: left;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #300030;
  min-width: 205px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #c04848}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f07241;
}

.ab ul {
  list-style-type: none;
  margin: 0;
  padding: 0px;
  min-width: 205px;
  background-color: #601848;
  position: fixed;
  height: 100%;
  overflow: auto;
  font-family: : Helvetica, Arial, sans-serif;
}

.ab li a {
  display: block;
  color: white;
  padding: 13px 14px;
  text-decoration: none;

}


.ab li a.active {
  background-color: #4CAF50;
  color: white;
}


.content .section1-home,.section2-home,.section3-home{
	margin-left: 15% !important;
	color: black !important;

}

.section1-home{
	background-color: #c04848;
	min-height: 60px;
}

.section2-home{
	min-height: 530px;
	color: black !important;
}

.section2-home form p{
	font-family: arial;
	color: black !important;
}

.section3-home{
	background-color: black;
	color: white;
	font-size: 12px;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 0px;
	position: bottom;
	min-height: 15px;
}
.section4-home{
	background-color: #c04848;
	min-height: 60px;
	margin-top: 80px;
	margin-left: 200px;
}

.left-home{
	float:left;
}

.right-home{
	float:right;
	border-radius:5px;
	padding:5px 10px;
	padding-top:30px;
}

.right-home .datadiri{
	color: white;
}

.right-home a{
	text-decoration: none;
	color: white;
	font-size: 10px;
}

a{
  text-decoration:none;
}

#bagianakhir {
	background-color: #07B3E5 !important; 
	padding: 10px;
	color: white;
}
